# vim
*.swp
*.swo

# build artifacts
cover
release

# pdflatex
doc/whitepaper.aux
doc/whitepaper.log
doc/whitepaper.pdf

sia.iml
dist
rivinec/rivinec
rivined/rivined
rivined/consensus
rivined/gateway
rivined/transactionpool
rivined/wallet
rivined/profiles
rivined/explorer
rivined/blockcreator
